<%- include("includes/header.ejs") %>
<body>
  <%- include("includes/navbar.ejs") %>
  
  <!-- <h1 class="display-3 text-center">Top news headlines of the day</h1> -->
   <div class="d-flex flex-column justify-content-center search">
   <div> <h1>Search Results for: </h1>  </div>
    <div>
    <ul>
    <% if (params.qInMeta!=null) { %>
      <li class="col-auto"> Keyword: <%- params.qInMeta %> </li>
<% } %>  
<% if (params.country!=null) { %>
 <li class="col-auto"> Country: <%- params.country.toUpperCase() %> </li>
<% } %> 
 <% if (params.category!=null) { %>
  <li class="col-auto"> Category: <%- params.category.toUpperCase() %> </li>
<% } %> 
 <% if (params.language!=null) { %>
 <li class="col-auto"> Language: <%- params.language.toUpperCase() %> </li>
<% } %>
</ul>
</div>
   </div>

  <div class="container container-fluid">
  <div class="row justify-content-center  row-cols-lg-3 row-cols-md-2 row-cols-sm-1 ">

    
  
        <% for(content of data){ %>

          

         
          
        <div class="container">
          <a href="<%= content.link %>"style="text-decoration: none;">
          <div class="card mx-2 my-3">
           <div style="height: 14rem;">
            <img src="<%= content.image_url %>" class="card-img-top" alt="headline image" ">
           </div>
            
            <div class="card-body d-flex flex-column">
              <h5 class="card-title"><%= content.title %></h5>
              <div>
                <p class="card-text"><%= content.description %></p>
              </div>
              
            </div>
         
          </div>
        </a>
        </div>
      
       
        <% } %>
       
        </div>
        <div class="d-flex justify-content-center">
          <a href="/search/next" class="btn btn-primary btn-lg my-3 ">Next</a>
        </div>
      </div>

 

     <%- include("includes/footer.ejs") %>

</body>
</html>

